---
import Link from "../components/Link.astro";
import "../styles.css";
import { Image, Picture } from "astro:assets";
import Ayoub from "../image/Ayoub.jpg";
import kofi from "../image/Ko-Fi.png";
import yt from "../image/youtube.png";
import cashapp from "../image/CashApp.png";
import venmo from "../image/Venmo.png";
import paypal from "../image/Paypal.png";
import contact from "../image/Contactcard.png";
import matrix from "../image/Matrix.png";
import { Icon } from "astro-icon/components";
---

<!doctype html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ayoub Abedrabbo</title>
    <script
      src="https://kit.fontawesome.com/e8d1b35a19.js"
      crossorigin="anonymous"></script>
  </head>
  <body
    class="mx-auto my-8 max-w-[90%] justify-center bg-gradient-to-t from-emerald-800 to-green-700 pb-8 text-center text-lg subpixel-antialiased lg:max-w-screen-md"
  >
    <div
      id="openShare"
      class="flex size-10 cursor-pointer items-center justify-center rounded-full bg-stone-500 transition-all hover:scale-110"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="fill-white"
        ><path
          d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81c1.66 0 3-1.34 3-3s-1.34-3-3-3s-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65c0 1.61 1.31 2.92 2.92 2.92c1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92"
        ></path></svg
      >
    </div>
    <div class="mx-auto size-40 overflow-hidden rounded-full drop-shadow-md">
      <Picture
        src={Ayoub}
        alt="Portrait of Ayoub Abedrabbo"
        decoding="async"
        loading="lazy"
        format="['avif','webp']"
        class="h-44 object-cover object-center drop-shadow-md"
      />
    </div>

    <h1 class="my-4 text-xl font-bold text-white">Ayoub Abedrabbo</h1>
    <p class="my-4 text-white">
      I am a photographer & creator of videos about education, and photography
      tips.
    </p>
    <!-- icons -->
    <div
      class="my-4 flex flex-wrap items-center justify-center text-2xl text-white"
    >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://instagram.com/ayoubabedrabbo"
        ><i class="fa-brands fa-instagram"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://discord.com/invite/ayoubab1"
        ><i class="fa-brands fa-discord"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://www.linkedin.com/in/ayoubabedrabbo/"
        ><i class="fa-brands fa-linkedin"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://mastodon.social/@ayoubabedrabbo"
        ><i class="fa-brands fa-mastodon"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://metroviewposters.etsy.com/"
        ><i class="fa-brands fa-etsy"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://github.com/Today20092"
        ><i class="fa-brands fa-github"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://t.me/AyoubAb1"><i class="fa-brands fa-telegram"></i></a
      >
      <a
        class="mx-2 transition hover:scale-150 focus:scale-150 active:scale-150"
        href="https://www.youtube.com/@ayoubthegreat"
        ><i class="fa-brands fa-youtube"></i></a
      >
    </div>
    <!-- link buttons -->

    <h2 class="my-4 text-lg tracking-wide text-white drop-shadow-lg">
      My Channels
    </h2>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Youtube Channel"
      bgcolor=" bg-red-700 "
      link="https://www.youtube.com/@ayoubthegreat"
      linkcolor="text-white"
    >
      <Image
        src={yt}
        alt="Youtube logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="My Photography Channel"
      bgcolor="bg-red-800"
      link="https://www.youtube.com/@ayoubphotos"
      linkcolor="text-white"
    >
      <Image
        src={yt}
        alt="Youtube logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <!-- Next section of link buttions -->
    <h2 class="my-4 text-lg tracking-wide text-white drop-shadow-lg">
      Support Me
    </h2>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Ko-Fi"
      bgcolor="bg-amber-500"
      link="https://ko-fi.com/ayoubab1"
      linkcolor="text-white"
      border="hover:border-amber-300 focus:border-amber-300 active:border-amber-300"
    >
      <Image
        src={kofi}
        alt="Ko-Fi logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="CashApp"
      bgcolor="bg-green-700"
      link="https://cash.app/ayoubab1"
      linkcolor="text-white"
    >
      <Image
        src={cashapp}
        alt="Cashapp logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Venmo"
      bgcolor="bg-green-600"
      link="https://venmo.com/u/Ayoub-Abedrabbo"
      linkcolor="text-white"
    >
      <Image
        src={venmo}
        alt="Venmo logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Paypal"
      bgcolor="bg-green-500"
      link="http://paypal.me/AyoubAbedrabbo"
      linkcolor="text-white"
    >
      <Image
        src={paypal}
        alt="Paypal logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <!-- Next Section Of link -->
    <h2 class="my-4 text-lg tracking-wide text-white drop-shadow-lg">
      Contact me
    </h2>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Download my contact card"
      bgcolor="bg-sky-600"
      link="https://www.tampashutter.net/vcard/ayoubabedrabbo.vcf"
      linkcolor="text-white"
    >
      <Image
        src={contact}
        alt="Contact Card logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
    <Link
      imagesrc="https://place-hold.it/50"
      linktxt="Message me on Matrix"
      bgcolor="bg-sky-700"
      link="https://matrix.to/#/@ayoubab:matrix.org"
      linkcolor="text-white"
    >
      <Image
        src={matrix}
        alt="Matrix logo"
        class="link-image h-auto object-cover object-center"
      />
    </Link>
  </body>
</html>
