---
import { Icon } from "astro-icon/components";

const { link, imagesrc, alttext, bgcolor, linktxt, icon, linkcolor, border } =
  Astro.props;
---

<div class={`item-center justify-center`}></div>
<a
  class={`link ${linkcolor} drop-shadow-lg ${bgcolor} ${border}`}
  href={link}
  target="_blank"
>
  <slot />
  <!-- <img class="link-image" src={imagesrc} alt={alttext} /> -->
  <span class="link-text">{linktxt}</span>
</a>
